.about-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: black;
  height: 70vh;
  padding: 3rem 0 4rem 0;
}

.about-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding: 0 8rem 0 8rem;
}

.about-desc > h3 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.about-desc > p {
  line-height: 1.5;
}

.about-img {
  width: 55%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
