.footer {
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  color: white;
  padding-top: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.footer-info {
  font-size: 2rem;
  padding: 2rem 0 2rem 10rem;
  width: 100%;
  margin: 0 auto;
}

.footer-info > h1 {
  padding-bottom: 2rem;
}

.footer-contact {
  font-size: 2rem;
  padding: 6rem 0 2rem 10rem;
}

.footer-sns {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  grid-column: 2fr 1fr;
  align-items: center;
}

.sns-links {
  display: flex;
  justify-content: space-around;
}
.linkedin,
.github,
.instagram {
  color: white;
  font-size: 2rem;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px;
}

.linkedin:hover,
.github:hover,
.instagram:hover {
  border-color: white;
}

@media screen and (max-width: 700px) {
  .footer-info > h1 {
    font-size: 2.2rem;
  }
  .footer-info > p {
    font-size: 1.5rem;
  }
  .footer-contact {
    font-size: 1rem;
  }
}
