.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 32);
  padding: 2rem 0rem 2rem 0rem;
}

.carousel-title {
  color: white;
  width: 20%;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
}

.slide-container {
  display: flex;
  align-items: center;
}

/* background-color: crimson; */
.slide-container img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.slide-container:hover img {
  transform: scale(1.4);
  opacity: 0.7;
}

.slide-desc {
  bottom: 0;
  right: 0;
  border-top-left-radius: 3rem;
  opacity: 0.8;
}

.slide-desc span {
  margin-left: 1rem;
  color: rgb(255, 255, 255);
}

.BrainhubCarousel__arrows {
  background-color: white;
  border-radius: 50%;
  margin: 1rem;
}
.BrainhubCarousel__arrows span {
  border-color: black;
}

.BrainhubCarousel__arrows:hover {
  background-color: white !important;
}
.BrainhubCarousel__arrows:hover span {
  border-color: black !important;
}

@media screen and (max-width: 700px) {
  .carousel-title {
    align-self: flex-start;
  }
  .carousel-container {
    flex-direction: column;
    height: 12rem;
  }
  .slide-container img {
    height: 3rem;
  }
}
